body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#table {
    border-collapse: separate;
    border-spacing: 15px;  /* adjust this value to increase/decrease space between cells */
    background-color: white; /* Set the background color of the table to white */
}

#table th {
    padding: 15px;
    text-align: center;
    background-color: #ddd;  /* Light gray background */
    color: #333;  /* Dark text */
    font-size: 18px;
}

#table td {
    padding: 15px;
    text-align: center;
    background-color: white;  /* White background */
    border-radius: 8px;
    border: 1px solid #ccc;  /* Gray border */
    vertical-align: middle; 
    box-shadow: 0px 0px 0px; /* remove the box-shadow */
}

#colorPicker {
    border: none;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    display: block;
    margin: auto;
}

#square {
    width: 60px;
    height: 60px;
    background-color: #6a5acd; /* Initial color of the square */
    border: 2px solid #888;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    display: block;
    margin: 15px auto;
}

#hexCode {
    font-weight: bold;
    color: #333;
}
    